body {
    margin: 0;
    font-size: 16px;
}
header{
    padding-top: 3px;
    font-size: 20px;
    color: rgba(230, 255, 230, 0.7)
    rgba(102, 255, 102, 0.7);
}
.container {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 80px 3fr 3fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "nav aside aside"
    "footer footer footer"
    
}

header, nav, main, aside, footer
{
        background-color:blue;
        color: #fff;
        padding: 15px;
        border: 2px black solid;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
} 
nav {
    grid-area: nav;       }
footer{
    grid-area: footer;
}
button {
    margin:2px
}

.image {
    width: 150px;
    height: 150px;
}  

.bilder{
    display: flex;
    justify-content: space-evenly;
}

/* width: 20%;
	float: left;
	padding: 10px;


    
   
 


