body {
    margin: 0;
    font-size: 16px;
}
header{
    padding-top: 5px;
    font-size: 30px;
    position: relative;
    font-family: sans-serif;
    letter-spacing: 5px;    
    background: linear-gradient(90deg, #000, #fff, #000);
    background-size: 100%;
  

   
    
}
.container {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 80px 3fr 3fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "nav aside aside"
    "footer footer footer"
    
}

header, nav, main, aside, footer
{
 
        background: linear-gradient(90deg, #000, #fff, #000);
        color: black;
        padding: 15px;
        border: 1px rgba(86, 83, 83, 0.904) solid;
       
} 

header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
} 
nav {
    grid-area: nav;       }
footer{
    grid-area: footer;
}
button {
    margin:2px
}

.image {
    width: 150px;
    height: 150px;
}  

.bilder{
    display: flex;
    justify-content: space-evenly;
}












.racoonsprite {
    margin:0px 0px 0px 49%;
    text-align:center;
    position:center;
    display:flex;
    height: 60px;
    width: 50px;
    background: url('img/racoon.png') 0px 0px;
}
    
   
 


